<div class="ui-wrapper">
  <ng-container *ngIf="floor then floorSelected else noFloor"></ng-container>
  <ng-template #floorSelected>
    <div>
      <p>Has floor</p>
      <mat-form-field>
        <mat-label>Select a Room</mat-label>
        <mat-select [(value)]="room">
          <mat-option *ngFor="let room of rooms" [value]="room">{{room}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <app-horizontal-list class="pipeline-list">
          <app-pipeline *ngFor="let job of jobs()"
                        [color]="getPipelineColor(job.deadline)"
                        [deadline]="formatTime(job.deadline)"
                        [job]="job">
          </app-pipeline>
        </app-horizontal-list>
      </div>
    </div>
  </ng-template>
  <ng-template #noFloor>
    <p>Has no floor</p>
  </ng-template>
</div>
