/*****************************************************
 * node_modules imports
 *****************************************************/
 @import 'node_modules/bootstrap/scss/bootstrap.scss';

 /*****************************************************
  * project imports
  *****************************************************/
 @import 'variables';
 @import 'mixins';

 /*****************************************************
  * styles
  *****************************************************/
 html, body, app-root {
   overflow: hidden;
   width   : 100%;
   height  : 100%;
   margin  : 0;
   padding : 0;
 }

 body {
   background-color: $mainBgColor;
   color: $mainTextColor;
 }

 .engine-wrapper{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 0;

   #renderCanvas {

   }

   #renderCanvas:focus {
     outline: none;
   }
 }

 .secondary-text{
   font-size: .75rem;
   opacity: 0.66;
 }

.zone{
  cursor: pointer;
}

.zone-label{
  fill: black;
  font-size: 22px;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-shadow:
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white,
    0 0 2px white;
}


.floor-container{
  background-color: white;
  /*
  @include media-breakpoint-down(md) {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
  }
   */
}

