/*****************************************************
 * node_modules imports
 *****************************************************/
@import 'node_modules/bootstrap/scss/bootstrap.scss';

/*****************************************************
 * project imports
 *****************************************************/
@import 'variables';
@import 'mixins';

/*****************************************************
 * Material Theming
 *****************************************************/
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-orange);
$app-accent: mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

/*****************************************************
 * styles
 *****************************************************/
html, body, app-root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.secondary-text {
  font-size: .75rem;
  opacity: 0.66;
}

.zone {
  cursor: pointer;
}

.zone-label {
  fill: black;
  font-size: 22px;
  text-anchor: middle;
  alignment-baseline: middle;
  pointer-events: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-shadow: 0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white,
  0 0 2px white;
}


.floor-container {
  background-color: white;
  /*
  @include media-breakpoint-down(md) {
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
  }
   */
}

.mat-slider-thumb-label {
  transform: rotate(-45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused .mat-slider-thumb-label,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
  background-color: mat-color($app-primary);
}

.mat-slider {
  .mat-slider-thumb-container {
    transition: none;
  }
}

.expand {
  width: 100%;
  height: 100%;
}

canvas {
  outline: none;
  border: none;
}

.bg-theme-primary{
  background-color: mat-color($app-primary);
}

.bg-theme-accent{
  background-color: mat-color($app-accent);
}

