$mainBgColor: white;
$mainTextColor: #313131;

$pill-border-width: .25rem;
$pill-height: 3rem;
$pill-height: $pill-border-width + $pill-height;
$pill-radius: $pill-height / 2;
$pill-border-color: $mainBgColor;
