<div class="pill-container">
  <div
    matRipple
    class="pill"
    [ngStyle]="{backgroundColor: color}">
    <div class="d-flex d-justify-content-center">
      <strong>
        {{job.trade}}
      </strong>
      <mat-icon class="ml-2">{{getIcon()}}</mat-icon>
    </div>
    <div *ngIf="job.start" class="secondary-text">{{formatTime(job.start)}}</div>
  </div>
  <div *ngIf="now.isBetween(start, end)"
       class="marker"
       [style.border-left-width.px]="lineWidth"
       [style.left]="progress()"></div>
</div>
