$border-width: .25rem;
$pill-height: 3rem;
$height: $border-width + $pill-height;
$radius: $height / 2;
$background-color: white;

.stack-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: $height;
  overflow: auto;
  /*
  padding-left: $height;
  padding-right: $radius;
  margin: ($radius / 2) 0;
  */
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  cursor: pointer;
  user-select: none;
  border-top: $border-width solid $background-color;
  border-bottom: $border-width solid $background-color;
  border-right: $border-width solid $background-color;
  padding: .5rem $radius;
  margin-left: -$radius / 2;
}

/*
.stack-pill:before, .hexagon:after {
  content:" ";
  position: absolute;
  height: $height;
  width: $radius;
  z-index: 2;
  cursor: default;
}
.stack-pill:before {
  left: 0;
  border-radius: 0 $radius $radius 0;
  background: $background-color;
}

*/
/*
.hexagon:after {
  left: 100%;
  border-radius: 0 $radius $radius 0;
  background:green;
}
*/

