@import "variables";

.stack-pill {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: $pill-height;
  overflow: auto;
  padding: 0 1rem;
  border-top-right-radius: $pill-radius;
  border-bottom-right-radius: $pill-radius;
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  overflow-y: hidden;
}

