<div class="px-4 pt-5">
  <ng-container *ngIf="floor then floorSelected else noFloor"></ng-container>
  <ng-template #floorSelected>
    <div>
      <h2>Building {{floor.building}}</h2>
      <p>Floor {{floorNumber()}}</p>
      <app-floor-plan [floor]="floor" (floorSelected)="floorChanges($event)"></app-floor-plan>
      <p>{{text}}</p>
      <div>
        <app-horizontal-list>
          <app-stack-item style="min-width: 120px" *ngFor="let job of pipeline">
            <app-pipeline [color]="color(job)" [job]="job"></app-pipeline>
          </app-stack-item>
        </app-horizontal-list>
      </div>
    </div>
  </ng-template>
  <ng-template #noFloor>
    <p>Click a floor to see more</p>
  </ng-template>
</div>
