<div class="px-4 pt-5">
  <ng-container *ngIf="floor then floorSelected else noFloor"></ng-container>
  <ng-template #floorSelected>
    <div>
      <h2>Building {{floor.building}}</h2>
      <p>Floor {{floorNumber()}}</p>
      <app-floor-plan [floor]="floor" (floorSelected)="floorChanges($event)"></app-floor-plan>
      <div>
        <app-vertical-list>
          <app-stack-item style="width: 250px" *ngFor="let job of pipeline; let i = index">
            <app-pipeline [color]="getPipelineColor(job.start, i)" [job]="job"></app-pipeline>
          </app-stack-item>
        </app-vertical-list>
      </div>
    </div>
  </ng-template>
  <ng-template #noFloor>
    <p>Click a floor to see more</p>
  </ng-template>
</div>
