<div class="px-4 pt-5">
  <ng-container *ngIf="floor then floorSelected else noFloor"></ng-container>
  <ng-template #floorSelected>
    <div>
      <h2>Building <span>{{floor.building}}</span></h2>
      <h3>Floor <span>{{floorNumber()}}</span></h3>
      <app-floor-plan
        [floor]="floor"
        [colors]="colors"
        (floorSelected)="floorChanges($event)"></app-floor-plan>
      <div>{{text}}</div>
      <p>Pipeline for <span>{{zone.replace('_', ' ')}}</span></p>
      <div>
        <app-horizontal-list>
          <div style="min-width: 120px" *ngFor="let job of pipeline">
            <app-pipeline [color]="color(job)" [job]="job"></app-pipeline>
          </div>
        </app-horizontal-list>
      </div>
    </div>
  </ng-template>
  <ng-template #noFloor>
    <p>Click a floor to see more</p>
  </ng-template>
</div>
