<div class="container-fluid p-0 expand">
  <div class="row m-0 expand">
    <div class="col-md-6 p-0 floor-container">
<!--      <app-floor [floor]="floor"></app-floor>-->
      <div class="d-flex flex-column" style="height: 50%">
        <h3 class="mx-4 my-2">Selected level: {{selectedLevel}}</h3>
        <div class="mx-4">Settings key: contour, leveCount, n , m</div>
        <div class="bg-theme-primary d-flex align-items-center justify-content-center m-4" style="flex: 1 1 auto">
          <h1 class="text-white">Graph 1</h1>
        </div>
      </div>
      <div class="d-flex flex-column" style="height: 50%">
        <h3 class="mx-4 my-2">Some Title</h3>
        <div class="bg-theme-accent d-flex align-items-center justify-content-center m-4" style="flex: 1 1 auto">
          <h1 class="text-white">Graph 2</h1>
        </div>
      </div>
    </div>
    <div class="col-md-6 p-0 position-relative" style="height: 100%">
      <app-engine></app-engine>
      <div
        class="position-absolute d-flex flex-column align-items-center justify-content-center"
        style="top: 0; left: 1rem; height: 100%">
        <span>Level</span>
        <mat-slider
          style="height: 70%"
          (input)="changeLevel($event)"
          [min]="minLevel"
          [max]="maxLevel"
          [(value)]="selectedLevel"
          thumbLabel="true"
          vertical="true"
          step="1"
          color="primary"></mat-slider>
      </div>
    </div>
  </div>
</div>

